:root {
  --header-bg: #f7f9ff;
  --black-color: #1d1f29;
  --green-color: #1eb589;
  --slate-color: #63687d;
  --slate-color-light: #848bab;
  --red-color: #dc414c;
  --body-bg: #ffffff;
  --card-bg: #f1f3fa;
  --toggle-bg: #aeb3cb;
}
